body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(224, 224, 147);
    color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: #006064;
    color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo-nombre{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    width: 150px;
    height: 150px;
}
header h1 {
    font-size: 1.6em;
    margin: 0;
}
nav{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
nav a{
    color: #1c2122;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav :hover {
    color: #ffffff;
}
main{
    flex: 1;
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1) 

}
footer{
    background-color: #006064;
    color: white;
    text-align: center;
    padding: 15 px;
    margin-top: auto;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr) );
    gap: 20px;
}
.galeria img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgtba (0,0,0,0.1);
}
form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}
form input, form textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"]{
    background-color: #006064;
    color: white;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #004d4d;
}

